{% extends "base.html" %} {% block body %}
<body style="background-color: rgb(165, 165, 165)">
    <div class="container-fluid">
      <div class="row bg-dark text-light">
        <div class="col m-3">
          <h1 class="m-3">About</h1>
        </div>
      </div>
      <div class="row">

        <div class="column col-12">
          <img src="../img/profilepic.jpg" class="rounded-circle mx-auto d-block mt-5" alt="profilepic">

        </div>
        <div class="col-3">

        </div>
        <div class="column col-6 bg-light mt-5 mb-5 opacity-50">
          <h1 class="text-center fontforsite mt-3">
            Making Data Easy
          </h1>
          <p class="fontforsite m-3">
            With many years of experience analyzing and forecasting data in the private sector and government I have built up a solid foundation of
            expertise in answering complex questions and using the latest tools to ensure my answers are simple and interactive. The idea behind this website is to help anyone answer the most important questions in their life and work through data. If you have a project that you would like me to work on, don't hesitate to reach out to me on one of the social links below.
            <br>
            <br>-Michael
          </p>
        </div>
        <div class="col-3">

        
        </div>
      </div class="container bg-danger">
    

    </div>
</body>
{% endblock %}