{% extends "base.html" %} {% block body %}

<body style="height: 100vh; background-color: rgb(165, 165, 165)">
  <div class="container-fluid">
    <div class="row bg-dark text-light">
      <div class="col m-3">
        <h1 class="m-3">Select a dashboard:</h1>
      </div>
    </div>
    <div class="row h-100 main_container flex-fill my-auto mx-auto p-3 h-100">
      <div class="col-12">
        <h2 class="light">Canada</h2>
        <div class="row">
          <div class="col-12">
            <form class="form-inline mb-2">
              <input
                class="form-control mr-sm-2"
                id="the-filter"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
          </div>
        </div>

        <div class="list-group" id="the-list">
          <a
            href="Dashboards/HousingStarts.html"
            class="list-group-item list-group-item-action list-group-item-secondary"
            >Housing Starts</a
          >
          <a
            href="Dashboards/GDP.html"
            class="list-group-item list-group-item-action list-group-item-secondary"
            >GDP</a
          >
          <a
            href="Dashboards/CPI.html"
            class="list-group-item list-group-item-action list-group-item-secondary"
            >Consumer Price Index</a
          >
          <a
            href="Dashboards/InternationalTravel.html"
            class="list-group-item list-group-item-action list-group-item-secondary"
            >International Travel</a
          >
          <a
            href="Dashboards/Unemployment.html"
            class="list-group-item list-group-item-action list-group-item-secondary"
            >Unemployment</a
          >
          <a
            href="Dashboards/HousingAffordability.html"
            class="list-group-item list-group-item-action list-group-item-secondary"
            >Housing Affordability</a
          >
          <a
            href="Dashboards/Immigration.html"
            class="list-group-item list-group-item-action list-group-item-secondary"
            >Immigration</a
          >
          <a
            href="Dashboards\Vacancy Rates.html"
            class="list-group-item list-group-item-action list-group-item-secondary"
            >Vacancy Rates</a
          >
          <a
            href="Dashboards\BalanceofTrade.html"
            class="list-group-item list-group-item-action list-group-item-secondary"
            >Balance Of Trade</a
          >
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</body>
