
       {% block footer %}
       {% endblock%}
       <footer class="footer bg-dark footercustom container-fluid ">
            <div class="row align-items-center">
              <div class="col-6 my-5 text-secondary">
                <p>
                  There is an ocean of public data out there made available by governments and other organizations.
                  A lot of this information has a direct impact on your life, but it is difficult to access, understand and interpet.
                  The intent of this project is to bridge this gap.
                  
                </p>
              </div>
              <div class="col-6 bg-dark my-auto" >
                <a href="https://www.facebook.com/michael.luis.lara/" class="fa fa-facebook"></a>
                <a href="https://twitter.com/michaelluislara" class="fa fa-twitter"></a>
                <a href="https://www.linkedin.com/in/michaelluislara/" class="fa fa-linkedin"></a>
                <a href="https://www.youtube.com/channel/UCqmzvhNBgCWfSdPqEZV3cew" class="fa fa-youtube"></a>
                <a href="https://www.instagram.com/michaelluislara/" class="fa fa-instagram"></a>
                <a href="https://www.reddit.com/user/michaelluislara" class="fa fa-reddit"></a>
              </div>
              <div class="row  align-items-center mx-auto" style="height: 3rem;">
                <p class="col my-auto text-secondary" >
                  ©2021 Michael Lara
                </p>
              </div>
              
            </div>
            
    
           </footer>
  
     
   
         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>
          window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
          ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async></script>