<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yrray - Home</title>
    <script src="jquery.js"></script> 
    <script type="text/javascript" src='js/main.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
  </head>
  
      
      <!-- Add your site or application content here -->
      <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: rgb(219, 219, 219);">
        <a class="navbar-brand" href="index.html"><img src="img/LogoExtended3000x1000.png" width="120" height="40" alt="" alt="Site Logo" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-3 active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="dashboardlist.html">Dashboard List</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="about.html">About</a>
            </li>
            
          </ul>
          
        </div>
      </nav>
      <body>
      <div class="container-fluid m-0 mainphoto">
        <div class="overlay row h-100">
          
            
          <div class="container text-center description my-auto mx-auto">
            <h1 class="headlinetextcustom">    North American economic data visualized</h1>
            <a href="dashboardlist.html" class="btn btn-primary btn-lg mx-auto">Take a look</a>
          </div>
        </div>
        


      </div>

        <footer class="footer bg-dark footercustom container-fluid ">
          <div class="row align-items-center">
            <div class="col-6 my-5 text-secondary" ">
              <p>
                There is an ocean of public data out there made available by governments and other organizations.
                A lot of this information has a direct impact on your life, but it is difficult to access, understand and interpet.
                The intent of this project is to bridge this gap.
                
              </p>
            </div>
            <div class="col-6 bg-dark my-auto" >
              <a href="https://www.facebook.com/michael.luis.lara/" class="fa fa-facebook"></a>
              <a href="https://twitter.com/michaelluislara" class="fa fa-twitter"></a>
              <a href="https://www.linkedin.com/in/michaelluislara/" class="fa fa-linkedin"></a>
              <a href="https://www.youtube.com/channel/UCqmzvhNBgCWfSdPqEZV3cew" class="fa fa-youtube"></a>
              <a href="https://www.instagram.com/michaelluislara/" class="fa fa-instagram"></a>
              <a href="https://www.reddit.com/user/michaelluislara" class="fa fa-reddit"></a>
            </div>
            <div class="row  align-items-center mx-auto" style="height: 3rem;">
              <p class="col my-auto text-secondary" >
                ©2021 Michael Lara
              </p>
            </div>
            
          </div>
          
  
         </footer>

   
 
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
      </script>
      <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>


</html>