{% extends "base.html" %}
{% block body %}      
<body>
      <div class="container-fluid m-0 mainphoto">
        <div class="overlay row h-100">
          
            
          <div class="container text-center description my-auto mx-auto">
            <h1 class="headlinetextcustom">    North American economic data visualized</h1>
            <a href="dashboardlist.html" class="btn btn-primary btn-lg mx-auto">Take a look</a>
          </div>
        </div>
        


      </div>

</body>
{% endblock %}
{% extends "footer.html"%}
{% block footer %}
{% endblock %}

</html>